---
import Navigation from "./Navigation.astro";
import Hero from "./Hero.astro";
---

<header class="hero">

<h1>Krishna's Knowledge Journal</h1>

<p class="tagline">
Understanding Finance from First Principles
</p>

<Navigation />

<Hero />

</header>