---
const path = Astro.url.pathname;
---

<nav>

<a class={path === "/" ? "active" : ""} href="/">Home</a>

<a class={path === "/about" ? "active" : ""} href="/about">About</a>

<a class={path === "/articles" ? "active" : ""} href="/articles">Articles</a>

<a class={path === "/contact" ? "active" : ""} href="/contact">Contact</a>

</nav>